@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

* {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}



.main-body{
    background-color: #2E302C;
}

.kode-mono {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.6s ease-out forwards;
}
